# Archivos y directorios generados por el sistema
bin/
obj/

# Archivos de configuración local
appsettings.Development.json
launchSettings.json

# Archivos temporales de Visual Studio
.vs/

.env

Pages/

# Archivos de paquetes NuGet
project.assets.json
project.nuget.cache

# Archivos de compilación y temporales
*.log
*.user
*.suo
*.userosscache

# Archivos generados por el entorno de ejecución
wwwroot/

# Archivos específicos de dependencias o de cache
*.cache
